body {
    background: #f0f0f0;
    font-family: Arial;
}

.container {
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    background: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #004ecc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}

.msg {
    background: #d4ffd4;
    padding: 10px;
    border: 1px solid #79d879;
    margin-bottom: 15px;
    border-radius: 5px;
}

